<h1>Transactions page</h1>
<p>Your token:<span id="token"><%=token%></span></p>

<h2>Create Stripe Payments</h2>
<div id="error" style="display:none" class="alert alert-danger">
	<p class="payment-errors"></p>
</div>
<div class="row">
	<fieldset class="form-group col-sm-12">
		<label for="amount">Amount:</label>
		<input type="number" class="form-control" name="amount" id="amount">
	</fieldset>
	<fieldset class="form-group col-sm-12">
		<label for="currency">Currency: </label>
		<input type="text" class="form-control" name="currency" id="currency"><br>
	</fieldset>
	<div class="checkbox col-sm-12" style="margin-top: 0; -webkit-margin-start: 2px; -webkit-margin-end: 2px; -webkit-padding-before: 0.35em; -webkit-padding-start: 0.75em; -webkit-padding-end: 0.75em; -webkit-padding-after: 0.625em;">
		<label>
			<input type="checkbox" id="useSaved" value="">
			Use saved info
		</label>
	</div>
	<fieldset class="form-group col-sm-12 card-info">
		<label for="cardnumber">Card number </label>
		<input type="text" class="form-control" name="customerid" id="cardnumber" class="card-number"><br>
	</fieldset>
	<fieldset class="form-group col-sm-4 col-xs-4 card-info">
		<label for="cvc">CVC: </label>
		<input type="number" class="form-control" name="cvc" id="cvc" class="card-cvc"><br>
	</fieldset>
	<fieldset class="form-group col-sm-4 col-xs-4 card-info">
		<label for="card-expiry-month">Expired Month: </label>
		<input type="number" class="form-control" name="card-expiry-month" id="card-expiry-month" class="card-expiry-month"><br>
	</fieldset>
	<fieldset class="form-group col-sm-4 col-xs-4 card-info">
		<label for="card-expiry-year">Expired Year: </label>
		<input type="number" class="form-control" name="card-expiry-year" id="card-expiry-year" class="card-expiry-year"><br>
	</fieldset>
</div>
<div>
	<input type="button" class="submittransaction pull-right btn btn-primary" id="submittransaction" value="Submit">
</div>