<h1>Transactions page</h1>
<div class="hide">
	<p>Your token:<span id="token"><%=token%></span></p>
</div>

<h2>Create Stripe Payments</h2>
<div id="error" style="display:none" class="alert alert-danger">
	<p class="payment-errors"></p>
</div>
<div class="row">
	<fieldset class="form-group col-sm-12">
		<label for="amount">Amount:</label>
		<input type="number" class="form-control" name="amount" id="amount">
	</fieldset>
	<fieldset class="form-group col-sm-12">
		<label for="currency">Currency: </label>
		<input type="text" class="form-control" name="currency" id="currency"><br>
	</fieldset>
	<div class="checkbox col-sm-12" style="margin-top: 0; -webkit-margin-start: 2px; -webkit-margin-end: 2px; -webkit-padding-before: 0.35em; -webkit-padding-start: 0.75em; -webkit-padding-end: 0.75em; -webkit-padding-after: 0.625em;">
		<label>
			<input type="checkbox" id="useSaved" value="">
			Use saved info
		</label>
	</div>
	<fieldset class="form-group col-sm-12 card-info">
		<label for="cardnumber">Card number </label>
		<input type="text" class="form-control" name="customerid" id="cardnumber" class="card-number"><br>
	</fieldset>
	<fieldset class="form-group col-sm-4 col-xs-4 card-info">
		<label for="cvc">CVC: </label>
		<input type="number" class="form-control" name="cvc" id="cvc" class="card-cvc"><br>
	</fieldset>
	<fieldset class="form-group col-sm-4 col-xs-4 card-info">
		<label for="card-expiry-month">Expired Month: </label>
		<select class="form-control col-sm-2" name="card-expiry-month" id="card-expiry-month">
			<option>Month</option>
			<option value="01">Jan</option>
			<option value="02">Feb</option>
			<option value="03">Mar</option>
			<option value="04">Apr</option>
			<option value="05">May</option>
			<option value="06">Jun</option>
			<option value="07">Jul</option>
			<option value="08">Aug</option>
			<option value="09">Sep</option>
			<option value="10">Oct</option>
			<option value="11">Nov</option>
			<option value="12">Dec</option>
		</select>
	</fieldset>
	<fieldset class="form-group col-sm-4 col-xs-4 card-info">
		<label for="card-expiry-year">Expired Year: </label>
		<select class="form-control" name="card-expiry-year" id="card-expiry-year">
			<option value="16">2016</option>
			<option value="17">2017</option>
			<option value="18">2018</option>
			<option value="19">2019</option>
			<option value="20">2020</option>
			<option value="21">2021</option>
			<option value="22">2022</option>
			<option value="23">2023</option>
		</select>
	</fieldset>
</div>
<div>
	<input type="button" class="submittransaction pull-right btn btn-primary" id="submittransaction" value="Submit">
</div>